force-app/main/default/flows/Opportunity_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_Donation_Opportunity</name>
        <label>Is Donation Opportunity</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task</targetReference>
            </connector>
            <label>Check If Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage</name>
        <label>Opportunity Stage</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Donation_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Queue_Members</targetReference>
            </connector>
            <label>Opportunity Closed Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Stage</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.StageName}, &apos;Closed Won&apos;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Task</name>
        <label>Assign Task</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <flowName>Assign_Task_After_Opportunity_is_Created</flowName>
        <inputAssignments>
            <name>AssignedToID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Name</name>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedToID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Email_To_Queue_Members</name>
        <label>Send Email To Queue Members</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Donation_Opportunity</targetReference>
        </connector>
        <flowName>Email_Alert_When_Grant_Is_Won</flowName>
        <inputAssignments>
            <name>QueueOfUsers</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
